@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');
$font:'Space Grotesk', sans-serif;

$red: hsl(0, 100%, 66%);
$gradient1: hsl(249, 99%, 64%);
$gradient2: hsl(278, 94%, 30%);

$white:hsl(0, 0%, 100%);
$neutral1: hsl(270, 3%, 87%);
$neutral2: hsl(279, 6%, 55%);
$neutral3: hsl(278, 68%, 11%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button{
    font: 500 1rem/1.5 $font;
    color: hsl(278, 68%, 11%);
    letter-spacing: 1px;
}

img{
    width: 100%;
}

input::placeholder{
    color: $neutral2;
    font: 500 1rem/1.5 $font;
    letter-spacing: 1px;
}

.p-relative{
    position: relative;
}

.card-wrapper{
    background-image: url(../images/bg-main-mobile.png);
    padding: 32px 16px 1px;
    background-repeat: no-repeat;
    background-size: cover;

    .cvc{
        position: absolute;
        top: 67px;
        right: 40px;
        font-size: 0.813rem;
        color: $white;
    }

    .card-back{
        text-align: right;
        
        img{
            width: 285px;
            box-shadow: 0px 5px 29px 0px rgb(0 0 0 / 38%);
            border-radius: 6px;
        }
    }
    

    .card-front{
        margin-top: -75px;
        margin-bottom: -45px;

        .front-card-img{
            box-shadow: 0px 5px 29px 0px #00000061;
            border-radius: 6px;
        }

        img{
            width: 285px;
        }

        .card-logo{
            position: absolute;
            width: 56px;
            left: 19px;
            top: 18px;
        }

        .card-number{
            position: absolute;
            left: 18px;
            color: white;
            bottom: 60px;
            font-size: 1.125rem;
            letter-spacing: 2px;
        }

        .card-holder-wrapper{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 245px;
            bottom: 30px;
            left: 18px;
            font-size: 0.75rem;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            font-weight: 300;
        }
    }

    .card-back,
    .card-front{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form-wrapper{
    padding: 90px 24px 45px;

    .form-group{
        margin: auto;
        margin-bottom: 20px;
        max-width: 380px;

        label{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 0.875rem;
            display: block;
            margin-bottom: 10px;
        }

        input{
            width: 100%;
            border-radius: 8px;
            border: 0px solid $neutral2;
            padding: 14px;
        }

        #card-number{
            text-transform: uppercase;

            &::placeholder{
                text-transform: none;
            }
        }

        .error{
            background-color: $red;
        }

        .error-msg{
            color: $red;
            font-size: 0.75rem;
        }
    }

    .form-col-2{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;

        > div{
            width: 48%;
        }
    }

    .card-expired-input-wrap{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;

        & > div{
            width: 46.5%;
        }

        .card-expired-wrap{
            .error-msg{
                position: absolute;
                left: 0;
            }
        }
    }

    .card-cvc-wrap{
        display: flex;
        flex-direction: column;
    }
    
    .btn{
        background-color: $neutral3;
        color: $white;
        padding: 14px 14px;
        border: none;
        transition: background-color .3s ease-out;
        margin-top: 10px;
        width: 100%;
        border-radius: 8px;
        border: 0px solid #8e8593;
        text-decoration: none;
        display: block;
        cursor: pointer;

        &:hover{
            background-color: $gradient2;
        }

        &:disabled{
            opacity: .5;
        }
    }
}

.outline-hover{
    background:$neutral2;
    padding:1px;
    border-radius:8px
}

.outline-hover:active, 
.outline-hover:focus, 
.outline-hover:hover, 
.outline-hover:focus-visible{
   background-image: linear-gradient(to right, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%));
    border-radius: 8px;
    padding: 1px; 
}

.thankyou{
    text-align: center;
    display: none;

    h1{
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 4px;
        font-size: 1.875rem;
    }

    img{
        width: 80px;
        margin-bottom: 35px;
    }

    p{
        margin-bottom: 45px;
        color: $neutral2;
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}

@import 'responsive';