
body{
    font: 15px/1.5 Arial, Helvetica, sans, serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* global  */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;

}

/* button */
.button_1{
    height: 38px;
    background-color: #e8491d;
    border: 0;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;}

    .button_1:hover{
    background-color: #e6e6e6;
    color: #e8491d;
}

    /* Header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header.highlight, header.current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}
#ee{
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    color: #e8491d;
}
/* NEWS LETTERS */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    padding: 10px;
    margin-top: 70px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/* SERVICE */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/* BODY CLASSIFICATION */


/* SIDE BAR */
#sidebar{
    float: left;
    width: 300%;
    margin-top: 20px;
    margin-left: 50px; 
    /* overflow-y: hidden;  */
}
/* pictureSIDE BAR  */
#Q{
    height: 250px;
    margin-top: 5px;
    margin-left: 60px;
    margin-right: -600px;
    margin-bottom: 30px;
    
}

.e{
     padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 5px;
    /* margin-bottom: ;  */
}

/* side bar image */
/* .yy{
      float: left;
    width: 60%;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px; 
    text-align: center;
    /* overflow-y: hidden;  */
/* BOXES */
/* #boxes {
 margin-bottom: 100px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 100%;
  padding: 10px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: -100px;
}

#boxes .box img {
  width: 100px;
  margin-left: 50px;
} */

aside#sidebar  .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

#main{
    width: 72.5%;
    display: flex;
    margin-top: 30px;
    margin-right: 100px;
}


#main2{
    flex: 1;
    margin: 10px;
    float: right;
    margin-top: 30px;
    width: 80%;
    /* margin: auto; */
    overflow: hidden;
}


/* #sidebar{
    margin-right: 80px;
} */
