.footer-page {
 display: flex;
 color: rgb(49, 230, 49);
 background-color: rgb(22, 22, 51);
 height: 300px;
 padding: 5em 15em 0 15em;
 justify-content: space-between;
 gap: 3em;
}
.Copyr {
 background-color: rgb(22, 22, 51);
 height: 2em;
 font-size: 1.2em;
 display: block;
 align-items: center;
 justify-content: center;
 justify-items: center;
 text-align: center;
 color: rgb(255, 141, 35);
 border-top: .07em solid rgb(85, 84, 84);
 padding: 1em;
 font-family: 'Times New Roman', Times, serif;


}

.loog {
 margin-top: -1em;
 margin-bottom: 3em;
}

.footer-page .company span {
 display: inline-block;
}

.footer-page p {
 color: rgb(99, 95, 95);
 font-size: 1em;
 margin-top: -2em;
 

}

.foot {
 margin: auto;
 margin-bottom: -30px;
 margin-top: -30px;

 text-align: center;

}
.footer-page h6 {
 font-size: 1.5em;
 margin-top: -.1em;
 font-weight: lighter;
 color: white;
 font-family: 'Arial Narrow Bold', ;
}