header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 2, 0, .8);
    padding: 1.2% 5%;
    position: fixed;
    width: 100%;
}

.contactbackground {
    background-color: white;
    padding: auto;
    margin: auto;
}

.logo {
    cursor: pointer;
}

.nav-links li {
    list-style-type: none;
    display: inline-block;
    margin-top: 1.2rem;
    padding: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.nav-links li a:hover {
    color: #008844;
}

.cta button {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.hero {

    padding: 3.5rem 0;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.hero-pad {
    padding: 6rem;
    text-align: center;
    margin-top: 2rem;
}

.hero-header {
    font-size: 3vw;
    color: white;
    font-weight: bold;
}

.hero-text {
    text-transform: capitalize;
    color: beige;
    font-family: 'open sans';
    font-weight: bold;
    font-size: 4vw;
}

.hero-btn {
    background-color: rgba(0, 2, 0, .8);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}

.hero-btn:hover {
    border: 1px solid black;
    font-weight: 100;
    font-size: 1.1rem;
}

.story {
    margin: 4rem;
}

.story-pic {
    text-align: center;
    margin: 0 0 10% 0;
}

.story-text {
    color: black;
    text-align: justify;
    font-weight: bold;
}

.story-text h4 {
    letter-spacing: .5rem;
}

.works {
    background-color: rgba(0, 2, 0, .8);
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

.works-text {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.works-card {
    background-color: rgba(0, 0, 0, .1);
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 2rem;
    display: inline-block;
}

.works-card-2 {
    background-color: rgba(0, 0, 45, .1);
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 2rem;
    display: inline-block;
}

.works i {
    color: white;
    margin-top: 3rem;
    font-size: 2rem;
    padding-bottom: 15px;
}

.works h5 {
    color: white;
    font-size: .9rem;
    text-transform: capitalize;
}

.menu {
    margin: 4rem;
    text-align: center;
}

.menu-list {
    text-align: center;
}

.menu-list ul li {
    display: inline-block;
    list-style-type: none;
    padding: .5rem .5rem;
}

.menu-list ul li a {
    color: blue;
    text-decoration: none;
}

.menu-list ul li a:hover {
    color: red;
}

.menu-name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: .5rem 0;
}

.menu-price {
    font-size: 1rem;
    font-weight: bold;
    color: red;
}

.buy-btn {
    border: 1px solid rgba(0, 2, 0, .8);
    border-radius: 5px;
    background-color: transparent;
    padding: 9px 25px;
    cursor: pointer;
    margin: .5rem 0;
    color: rgba(0, 2, 0, .8);
}

.menu-btn-view {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid rgba(0, 2, 0, .8);
    border-radius: 5px;
    cursor: pointer;
    color: rgba(0, 2, 0, .8);
}

.menu-line {
    margin: 1.5rem 0;
}

.menu-name,
.buy-btn {
    text-transform: capitalize;
}

.partners {
    background-color: rgba(0, 2, 0, .8);
    width: 100%;
    margin: 0 0;
    text-align: center;
    padding: 3rem 0;
}

.partners-text {
    padding: 2rem 2rem;
}

.partners-text {
    color: white;
}

.partner-btn {
    padding: 9px 25px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.footer-bg {
    background-color: rgba(0, 2, 1, .9);
    width: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footer-h3 {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: bolder;
    margin-top: 4rem;
}

.footer-cont {
    font-size: .8rem;
    text-align: justify;
}

.quick-links {
    font-size: 1.2rem;
    letter-spacing: 3px;
}

.quick-links li {
    list-style: square;
    text-align: justify;
}


.quick-links li a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
}

.footer-contact {
    font-size: 1.2rem;
    margin-left: -28px;
}

.footer-contact li {
    list-style: none;
    font-size: .9rem;
}

.footer-contact li a {
    text-decoration: none;
    color: white;
    font-size: .9rem;
}

.footer-contact i {
    font-size: 1rem;
    color: white;
}

.socials a {
    color: white;
    font-size: 1.5rem;
    padding: .8rem .8rem;
    margin-left: -9px;
}

.footer-after {
    text-align: center;
    padding-top: 2rem;
}

/* Begining of Contact Us Page*/
.contact-hero {
    width: 100%;
    background-color: rgba(0, 2, 0, .8);
    text-align: center;
    color: white;
    height: 15rem;
    padding: 7rem 0 3rem 0;
    word-spacing: .5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    margin-top: -3rem;
}

.contact-hero h3 {
    font-size: 40px;
}

.contact-list {
    margin: 3rem 0;
}


.contact-list-row {
    width: 70%;
    margin: auto;
    text-align: center;
}

.contact-list-row i {
    font-size: 2.5rem;
}

.contact-list-row h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem 0;
}

.contact-list-row p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-list-row a {
    text-decoration: none;
    color: #212529;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.contact-form {
    width: 60%;
    margin: auto;
}

input[type=text],
select,
input[type=email],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    margin: 1rem 0;
}

input[type=submit] {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ccc;
    color: black;
    padding: 10px 2px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
}