.main-container{
    background-color: gray;
    background-image: url("backdrop.jpg");
    background-size: cover;
    padding: 50px;
    margin: auto;
    margin-bottom: -1em;
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4em;
    font-weight: bold;
    margin-top: 2em;
}   
.main-container p{
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: 1em;
    padding: 3em;
    background-color: #8346293d;
}
