.products {
 box-sizing: border-box;
 display: flex;
 flex-wrap: wrap;
}

.products-card {
 height: 450px;
 width: 290px;
 display: flex;
 flex-direction: column;
 border: 2px solid black;
 border-radius: 15px;
 text-align: center;
 justify-content: space-between;
 margin: 2em;
 box-sizing: border-box;
 padding: 0px 0px 40px 0px;
 background-color:#5c26c13e;

}
 
.products-card-image {
 width: 286px;
 height: 400px;
 margin-bottom: 1em;
}

img  {
 width: 100%;
 height: 100%;
}
.product-card-details span {
 font-weight: bold;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 color: rgb(10, 10, 152);
}

.products img {
 
 box-sizing: border-box;
 border-radius: 1em 1em 0px 0px;

}
