#sidebar {
 padding-top: 4em;
 background-color: #2b32b2;
}
 .dashboard {
  margin-top: 5em;
  background-color: rgba(250, 235, 215, 0.407);
  padding: 2em;
 }

 #bol {
  text-decoration: none;
  font-size: 0.8em
 }
 .team {
  color: white;
  font-size: 1.5em;
  padding-right: 0.5em;
 }
 .wel {
  color: red;
  font-size: 1.5em;

 
 }


 #landpage {
  margin-bottom: -20px;

 }