.guard {
    background-color: #fdfdfd84;
    border: 2px solid #2b32b2;
    border-radius: 10px;
    padding: 4.5em 2.2em;
}

button {
    cursor: pointer;
}
.que {
    display: flex;
    
    text-align: center;
   
    color: rgb(255, 255, 255);
    justify-content: space-between;
    
}

.que p {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
 
.powered {
    text-align: center;
    text-transform: uppercase;
    margin-top: 5em;
    margin-bottom: -3em;
}

.powered p {

    color: rgb(4, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    opacity: 0.3;
}