.guard-up {
 background-color: #fdfdfd84;
 border: 2px solid #2b32b2;
 border-radius: 10px;
 padding: 0.7em 3em;
 width: 33em;
}

.Button2 {
 background-color: #573ee3;
 border: none;
 color: white;
 padding: 1px 3px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 12px;

}
.already{
 text-decoration: none;
}

.ask {
 padding: 10px;
 margin-bottom: 10px;
 margin-top: -2em;

}

.mid {
 padding-top: 5px;

}